{#templates/navbar.html.twig#}
       
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
<!--nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->
  <a class="navbar-brand" href="{{ path('home_page')}}">{{ 'Accueil' | trans }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('contact_page')}}"> 
                Contact
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('boutique_page')}}"> 
                {{ 'Boutique' | trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('panier_index')}}"> 
                {{ nbProduit}} {{ 'Produit(s)' | trans }}
            </a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" id="searchString" type="text" 
        placeholder="{{ 'Chercher produits...' | trans }}" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" id="searchButton">
                <i class="fas fa-search"></i>
            </button>
    </form>
    <ul class="navbar-nav my-0">
       <li class="nav-item dropdown">
           <a class="dropdown-item" href="{{ path('home_page', { '_locale': 'en' })}}">
               <img alt="En" src="{{ asset('images/en.png') }}">
           </a>
       </li>
   </ul>
  </div>
</nav>